<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32002" type="text" id="start-retroarch" default="sudo systemctl start retroarch-wayland"/>
    </category>

    <category label="32011">
        <setting label="32012" type="text" id="stop-kodi" default="sudo systemctl stop kodi-wayland"/>
    </category>
    <category label="32021">
        <setting label="32022" type="text" id="restart-kodi" default="sudo systemctl restart kodi-wayland"/>
    </category>
</settings>
